*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-size: 20px;
    height: 4vh;
    }
.right{
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
    margin: 0 20px;
    display: inline;
}
.parent{
    border:0.1% solid;
    margin:0px;
    padding: 0px;
    min-height: 100vh;
    position: relative;
   

}
img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.child{
    border: 0.1% solid;
    position: absolute;
    top: 30%;
    right:5%;
    width:40%;
   
   
    img{
        height: 50vh;
    }
}
.card1{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-wrap: wrap;
    
}
.son{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 50px;
   
    
}
.mom{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.jerike{
    display:flex;
    flex-wrap: wrap;
}
.joseph{
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 50px;
}


.sarath{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
} 
.yadhav{
    padding: 10px 30px;
    background-color: red;
    color: white;
    font-size: 20px;
    height: 4vh;
    text-align:center;
    letter-spacing: 5px;
}
.aljo{
    display: flex;
    justify-content:space-around;
    flex-direction:column;
    width:20%;
    height:10vh ; 
    flex-wrap: wrap;  
}
.more{
  
    
    display: flex;
    border: 1px solid black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 10px;
    height:50vh ;
    width:100% ;
    border-radius: 10px;
    flex-wrap: wrap;
    transform: translate(90px);
    div{
        margin:0.3%;
      
    }
}
   
.pop{
    width:100% ;
    height:50% ;
  flex-wrap: wrap;
 
    
       img{
        width:100% ;
        height:20vh;
        border-radius: 10px;
        object-fit: cover;
        flex-wrap: wrap;
       
       }
    
}
button{
    margin:20px;
    padding:10px 20px;
    border:1px solid black;    
}




    
